In [264]:
"""
** What is 7 to the power of 4?**

"""

'\n** What is 7 to the power of 4?**\n\n'

In [265]:
7**4

2401

In [266]:
"""
** Split this string:**

s = "Hi there Yogesh!"
*into a list. *

"""

'\n** Split this string:**\n\ns = "Hi there Yogesh!"\n*into a list. *\n\n'

In [2]:
s = "Hi there Yogesh!"

In [3]:
s.split()

['Hi', 'there', 'Yogesh!']

In [267]:
"""
** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

"""

'\n** Given the variables:**\n\nplanet = "Earth"\ndiameter = 12742\n** Use .format() to print the following string: **\n\nThe diameter of Earth is 12742 kilometers.\n\n'

In [14]:
planet="Earth"
diameter=12742
'The diameter of {} is {} kilometers'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

In [ ]:
"""
'The diameter of Earth is 12742 kilometers'
** Given this nested list, use indexing to grab the word "hello" **

   lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
"""

In [18]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [20]:
lst[3][1][2][0]

'hello'

In [268]:
"""
** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

"""

'\n** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **\n'

In [21]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
"""
** What is the main difference between a tuple and a list? **
"""

In [ ]:
## Tuple is immutable

In [ ]:
"""
** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

"""

In [46]:
email=input("Enter the value: ")
def get_domain_name(email):
    return email.split('@')[1]

Enter the value: chiku.c@gmail.com

In [48]:
get_domain_name(email)

'gmail.com'

In [269]:
"""
** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **
"""

"\n** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **\n"

In [54]:
'dog' in 'this is dogsw2edfw'

True

In [ ]:
"""
** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **
"""

In [78]:
def count_of_dog(s):
    count=0
    for v in s.lower().split():
        if v=='dog':
            count=count+1        ## count+= 1
    return count

In [80]:
count_of_dog('This dog runs faster than the other Dog dude!')

2

In [ ]:
"""
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

"""

In [85]:
seq = ['soup','dog','salad','cat','great']

In [86]:
lam1 = lambda x : x[0]!='s'

In [87]:
list(filter(lam1,seq))

['dog', 'cat', 'great']

In [ ]:
"""
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *
"""

In [96]:
def speed_penalty(speed,birthday):
    if birthday:
        s=speed-5
    else:
        s=speed
    if s<=60:
        print("No Ticket")
    elif s>=81:
        print("Big Ticket")
    else:
        print("Small ticket")

In [97]:
speed_penalty(84,True)

Small ticket

In [98]:
speed_penalty(64,True)

No Ticket

In [ ]:
"""
Given a string print number num by extracting all the
digits from the string as in string



string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

"""

In [142]:
intStr = input('Enter string')
opStr = ""
operator = "-"
listofNum= "0123456789"
if intStr[0] == operator:
    opStr = opStr + operator
for char in intStr:
    if listofNum.find(char)>0:
        opStr = opStr + char
print(opStr)

Enter string-54kjh
-54

In [ ]:
"""
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

"""

In [174]:
num1=input("Enter the number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Num is :",num3)
    print("Reverse is :",num3[::-1])
print("palindrom is :",num3)

Enter the number:88
Num is : 847
Reverse is : 748
Num is : 1595
Reverse is : 5951
Num is : 7546
Reverse is : 6457
Num is : 14003
Reverse is : 30041
Num is : 44044
Reverse is : 44044
palindrom is : 44044

In [ ]:
""""
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19
"""""

In [270]:
def find_number():
    tuple = (0,1,2,3,4,5,6,7,8,9)
    for num in tuple:
        fifth=num
        first=num+4
        second=num+2
        forth=num-2
        third=fifth
        if (third+forth+fifth)==first:
            if (first+second+third+forth+fifth)==19:
                return(int(str(first)+str(second)+str(third)+str(forth)+str(fifth)))
print(find_number())

75313